@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    /* Fonts */
    --ff-size: 1.25rem;
    --ff-main: 'Kumbh Sans';
    --fw-light: 400;
    --fw-bold: 700;
    /* Colors */
        /* ### Primary */
    --clr-Darkcyan: hsl(185, 75%, 39%);
    --clr-Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --clr-Darkgrayishblue: hsl(227, 10%, 46%);

        /* ### Neutral */
    --clr-Darkgray: hsl(0, 0%, 59%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  html {
    height: 100%;
    display: grid;
    place-content: center;
    background-color: var(--clr-Darkcyan);
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -300px -600px, 1000px 200px;
  }
  main {
    background-color: white;
    margin-left: 2rem auto;
    margin-right: 2rem auto;
    display: grid;
    border-radius: 1rem;
    font-family: var(--ff-main);
    min-width: 320px;
  }
  .bg-image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .card__component {
    position: relative;
  }
  .victor__avatar {
    place-self: center;
    position: absolute;
    bottom: 42%;
    left: 35%;
    margin-bottom: 2rem;
    border-radius: 50%;
    border: 6px solid white;
  }
  .white-card__text {
    padding-top: 3.5rem;
    
  }
  .name-age__column {
    display: flex;
    flex-direction: column;
  }
  .name__age-main-row {
    display: flex;
    gap: .5rem;
    justify-content: center;
  }
  .sub-title__age {
    font-size: 1.5rem;
    align-self: center;
  }
  .sub-caption__location {
    place-self: center;
    margin-bottom: 2rem;
  }
  .stats-flex__row {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
.stat-title {
    font-size: 1.25rem;
}
.stat-description {
    font-size: 1rem;
}
.stats-flex__mini-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr {
    opacity: 0.6;
}
.stats-flex__mini-column p {
    font-size: 0.8rem;
}
h1, h2, h3, h4 {
    color: var(--clr-Verydarkdesaturatedblue);
    font-weight: var(--fw-bold);
}
p {
    color: var(--clr-Darkgrayishblue);
    font-weight: var(--fw-light);
}
@media (min-width:360px) and (max-width:400px) {
    .victor__avatar {
        place-self: center;
        position: absolute;
        bottom: 42%;
        left: 34%;
        margin-bottom: 2rem;
        border-radius: 50%;
        border: 6px solid white;
      }
}